/**
 * !important rules are used to override the values in the Epoch Times
 * website style sheets.
 */

body {
  background: black !important;
}

* {
  color: yellow !important;
}

a {
  color: inherit !important;
  text-decoration: underline !important;
}

.content,
.left_column,
.right_column,
.single_column_container,
.sidebar_column,
.column,
.article_time,
.box,
span {
  background: transparent !important;
}
